@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"Roboto Slab",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
#logo {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;
}
h3 {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 40px;
}
h3:before {
content: '';
position: absolute;
left: 50%;
bottom: -10px; /*下線の上下位置調整*/
display: inline-block;
width: 50px; /*下線の幅*/
height: 3px; /*下線の太さ*/
-moz-transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translate(-50%); /*位置調整*/
background-color: #666666; /*下線の色*/
}
h4 {
    position: relative;
    margin-top: 30px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    color: #7f7f7f;
}
h4:before {
content: '';
position: absolute;
left: 50%;
bottom: -10px; /*下線の上下位置調整*/
display: inline-block;
width: 40px; /*下線の幅*/
height: 2px; /*下線の太さ*/
-moz-transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translate(-50%); /*位置調整*/
background-color: #0193CB; /*下線の色*/
}
h5 {
    color: #7f7f7f;
}
.effect-fade {
    opacity : 0;
    transform : translate(0, 50px);
    transition : all 1000ms;
}
    .effect-scroll {
    opacity : 1;
    transform : translate(0, 0);
}
/* 2つ目の要素に200msのdelayをかける */
.effect-fade:nth-of-type(2) {
    -moz-transition-delay:200ms;
    -webkit-transition-delay:200ms;
    -o-transition-delay:200ms;
    -ms-transition-delay:200ms;
}
/* 3つ目の要素に400msのdelayをかける */
.effect-fade:nth-of-type(3) {
    -moz-transition-delay:400ms;
    -webkit-transition-delay:400ms;
    -o-transition-delay:400ms;
    -ms-transition-delay:400ms;
}
/* モーダル設定 */
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    overflow-y:scroll;
    z-index: 600;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 700;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 10%;
    transform: translate(-50%);
    width: 60%;
    z-index: 800;
}
    .modal__content a{
        display: inline-block;
        margin: 15px auto;
        color: #7f7f7f;
        text-decoration: none;
        padding: 10px 15px;
        border: 1px solid #7f7f7f;
        z-index: 900
    }
    .navbar-dark .navbar-toggler {
        border-color: rgba(0,0,0,0);
    }
    nav{
        transition: .5s;
    }
    button:focus {
        outline: none;
    }
.block_home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./pcimg.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  /* position: -webkit-sticky;
  position: sticky; */
  top: 0;
  z-index: 100;
  color: #ffffff;
}
    .name{
        font-family: 'Alfa Slab One', cursive;
        font-weight: 400;
        font-size: 40px;
    }
    .scroll_button {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .scroll_button span {
        display: block;
        width: 25px;
        height: 25px;
        border-bottom: 1.5px solid #fff;
        border-right: 1.5px solid #fff;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }
    .scroll_button span:nth-child(2){
        animation-delay: -0.2s;
        
    }
    .scroll_button span:nth-child(3){
        animation-delay: -0.4s;
    }
    @keyframes animate{
        0%{
            opacity: 0;
            transform: rotate(45deg) translate(-20px, -20px);
        }
        50%{
            opacity: 1;
        }
        100%{
            opacity: 0;
            transform: rotate(45deg) translate(20px, 20px);
        }
    }
.block_about{
    position: relative;
    background: #f3f5f8;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    height: auto;
    z-index: 200;
}
    .face{
        padding-top: 3.0rem;
    }
        .face img{
            display: block;
            border-radius: 50%;
            width: 250px;
            height: 250px;
            margin: 0 auto;
            object-fit: cover; 
        }
    .about_text{
        color: #7f7f7f;
        line-height: 1.7;
        padding-bottom: 15px;
    }
    .skills_container {
        position: relative;
        width: 100%;
    }
    .skills_container h2 {
        color: #333333;
    }
    .skills_container .skills {
        position: relative;
        display: flex;
        margin: 5px 0;
        padding:10px;
        overflow: hidden;
        transition: 0.5%; 
    }
    .skills_container:hover .skills {
        opacity: 0.05;
        transition: .5s;
    }
    .skills_container .skills:hover {
        opacity: 1;
        transform: scale(1.1);
    }
 
    .skills_container .skills .Name{
        position: relative;
        width: 110px;
        text-align: right;
        color: #7f7f7f;
        margin-top: -2px;
        text-transform: uppercase;
    }
    .skills_container .skills .Value {
        position: relative;
        width: 40px;
        text-align: left;
        color: #7f7f7f;
        margin-top: -2px;
        text-transform: uppercase;
    }
    .skills_container .skills .percent {
        position: relative;
        width: calc(100% - 150px);
        height: 20px;
        margin: 0 10px;
        border-radius: 2px;
        background: #fefefe;
        overflow: hidden;
    }
    .skills_container .skills .percent .progress {
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        height: 100%;
        border-radius: 2px;
        background: #7f7f7f;
    }
    .effect-progress {
        animation: animates 2s ease-in-out forwards;
    }
    @keyframes animates {
        from{
            width: 0;
        }
    }
.block_services {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    padding-top: 100px;
    background: #ffffff;
    z-index: 300;
}
    .service_services_title{
        padding-bottom: 80px;
    }
    .services_icon{
        font-size: 50px;
    }
    .services_title{
        font-size: 24px;
        color: #353535;
    }
    .services_text {
        color: #8c9398;
        margin-bottom: 30px;
    }
.block_portfolio {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    padding-top: 100px;
    background: #f3f5f8;
    z-index: 400;
}
    .ptf_container .card{
        flex-direction: column;
        max-width: 350px;
        margin: 25px 0px;
    }
    .ptf_container .card .imgBx{
        width: 100%;
        height: 250px;
        left: 0;
        overflow: hidden;
    }
    .ptf_container .card .contentBx{
        width: 100%;
        height: auto;
        right: 0;
        padding: 30px;
        text-align: center;
    }
    .contentBx h4 {
        font-size: 20px;
        color: #7f7f7f;
    }
    .contentBx a {
        display: inline-block;
        margin-top: 15px;
        color: #7f7f7f;
        text-decoration: none;
        padding: 10px 15px;
        border: 1px solid #7f7f7f;
    }
    .ptf_container .card .contentBx:before{
        top: 0;
        bottom: 0;
    }
.block_contact {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    padding-top: 100px;
    background-color: #fff;
    /* z-index: 500; */
}
    .cp_iptxt {
        position: relative;
        width: 80%;
        margin: 40px 3% 80px;
    }
    .cp_iptxt input[type='text'] {
        font: 15px/24px sans-serif;
        box-sizing: border-box;
        width: 100%;
        padding: 0.3em;
        padding-left: 40px;
        letter-spacing: 1px;
        border: 0;
    }
    .cp_iptxt input[type='text']:focus {
        outline: none;
    }
    .cp_iptxt input[type='text']:focus::after {
        outline: none;
    }
    .cp_iptxt i {
        position: absolute;
        top: 0;
        left: 0;
        padding: 9px 5px;
        transition: 0.3s;
        color: #aaaaaa;
    }
    .cp_iptxt::after {
        display: block;
        width: 100%;
        height: 4px;
        margin-top: -1px;
        content: '';
        border-width: 0 1px 1px 1px;
        border-style: solid;
        border-color: #0193CB;
    }
    
    .cp_iptxt_content {
        position: relative;
        width: 100%;
        
    }
    .cp_iptxt_content textarea[type='text'] {
        font: 15px/24px sans-serif;
        box-sizing: border-box;
        width: 100%;
        height: 25vh;
        padding: 0.3em;
        transition: 0.3s;
        letter-spacing: 1px;
        color: #7f7f7f;
        border: 1px solid #7f7f7f;
        border-radius: 4px;
        margin-bottom: 40px;
    }
    .cp_iptxt_content textarea[type='text']:focus {
        border: 1px solid #0193CB;
        outline: none;
        box-shadow: 0 0 5px 1px rgb(60, 207, 218);
    }
    .btn-square-shadow {
        display: inline-block;
        padding: 0.5em 1em;
        text-decoration: none;
        background: #0193CB;/*ボタン色*/
        color: #FFF;
        border-bottom: solid 4px #627295;
        border-radius: 3px;
      }
      .btn-square-shadow:active {
        /*ボタンを押したとき*/
        -webkit-transform: translateY(4px);
        transform: translateY(4px);/*下に動く*/
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
        border-bottom: none;
      }
      .sendbtn{
          text-align: right;
      }
      #thxMessage{
          text-align: center;
          color: #7f7f7f;
          
      }
footer{
    background: #333333;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 10px;
}
    footer p {
        margin: 0;
    }

@media (max-width: 768px){
    .modal__content{
        width: 90%;
    }
}
